@import 'lms/static/sass/partials/base/variables';

// Theming overrides for sample theme
$header-bg: #ffffff;
$header-border-color: #edf2fa;
$footer-bg: #172a73;
$container-bg: #ffffff;
$content-wrapper-bg: #ffffff;
$gray-l5: #edf2fa;
$course-profile-bg: #edf2fa;
$m-blue-d3: #172a73;
$uxpl-blue-base: #172a73;
$action-primary-bg:#172a73;
$link-color:#172a73;