@import 'lms/static/sass/partials/base/variables';

// Theming overrides for sample theme
$header-bg: #172a73;
$footer-bg: rgb(140,21,21);
$container-bg: rgb(241,241,241);
$content-wrapper-bg: rgb(241,241,241);